.add-student{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5vh;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 100%;
    background-color: #37474f;
    padding: 8vh;
    border-radius: 30px;
  }
.button-login {
    background-color: #222222;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button-login:hover {
    background-color: #2b2b2b;
  }


  .inp {
    display:flex;
    flex-direction:row;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 25px;
  }
  
  .inp > input {
    
    flex-grow:2;
    margin-bottom: 0;
    border:none;
  }
  
  
  .inp > input:focus {
    outline: none;
  }
  
  
  .inp:focus-within { 
    outline: 1px solid #ddd 
  }
  
  .inp-b {
    margin-right: 10px;
    font-size: larger;
      background-color: inherit;
      color:white;
  }