body{
    background-color: #696969;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
}
.welcome h1{
    font-size: 5vh;
    font-weight: bold;
}