.noc-data {
    font-family: "Comic Sans MS", cursive;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: inherit;
    color: #636262;
}

.table{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}